.hover-container:hover .hover-arrow {
  rotate: 45deg;
  transition: all;
  transition-duration: 1s;
}
.banner-video {
  width: 560px;
  height: 315px;
}

@media (max-width: 600px) {
  .banner-video {
    width: 100%;
    height: 169px;
  }
}
