.home-content {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(100, 100, 200, 0.6)
    ),
    url("../../../assets/banner/bannerImg.jpeg");
  background-repeat: no-repeat;
}

.service-banner {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(200, 200, 255, 0.6)
    ),
    url("../../../assets/images/serviceBgImg.jpg");
}

@media (max-width: 640px) {
  .home-content {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(100, 100, 200, 0.6)
      ),
      url("../../../assets/banner/bannerResponsive.jpg");
    background-repeat: no-repeat;
  }

  .service-banner {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(200, 200, 255, 0.6)
      ),
      url("../../../assets/images/servicebgResponsive.jpg");
  }
}
